<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.neighborhood[:name] %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<a><%= link_to @restaurant.website %></a>

<h4><%= link_to "Edit", edit_neighborhood_restaurant_path(@restaurant, @restaurant.neighborhood) %></h4>

<h2>Tacos: <h2>
<% @restaurant.tacos.each do |taco| %>
<h3><%= taco.name %></h3>
<p><%= taco.description %></p>
<% end %>

<h3>Add a Taco:</h3>
