<h2><%= @restaurant.name %></h2>
<h3><%= @restaurant.neighborhood[:name] %></h3>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= link_to @restaurant.website %></p>

<p><%= link_to("Edit", edit_neighborhood_restaurant_path(@restaurant.neighborhood, @restaurant)) if @current_user %> | <%= link_to('Delete', neighborhood_restaurant_path(@restaurant.neighborhood, @restaurant),
              method: :delete,
              data: { confirm: 'Are you sure?' }) if @current_user %></p>
<h3>Tacos: <h3>
<% @restaurant.tacos.each do |taco| %>
    <h4><%= taco.name %>
    <% if @current_user %>
      <% if taco.favorites.length > 0 %>
        <%= link_to "&#9733;".html_safe, remove_favorite_taco_path(taco), method: :delete, class: "fav" %>
      <% else %>
        <%= link_to "&#9733;".html_safe, add_favorite_taco_path(taco), method: :post, class: "no-fav" %>
      <% end %>
    <% else %>
    <% end %>
  </h4>
  <p><%= taco.description %></p>
    <p><%= link_to("Edit", edit_neighborhood_restaurant_taco_path(@restaurant.neighborhood, @restaurant, taco)) if @current_user %> | <%= link_to("Delete", neighborhood_restaurant_taco_path(@restaurant.neighborhood, @restaurant, taco),
            method: :delete,
            data: { confirm: 'Are you sure?'} )if @current_user %></p>

<% end %>

<h3><%= link_to("Add a Taco!", new_neighborhood_restaurant_taco_path(@restaurant.neighborhood, @restaurant, @taco)) if @current_user %> </h3>
