<!DOCTYPE html>
<html>
<head>
  <title>Needtacos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Help! Need tacos.</h1>
    <nav>
      <h2><%= link_to "Neighborhoods", neighborhoods_path %> | <%= link_to "Restaurants", restaurants_path %></h2>
    </nav>

<%= yield %>

</body>
</html>
